In [40]:
import shutil
import os
import pandas as pd
import numpy as np

In [4]:
data = pd.read_csv("C:\Users\Karan\Desktop\DSMT\Final-Project\UrbanSound8K\metadata\UrbanSound8K.csv")

In [5]:
data.shape

(8732, 8)

In [30]:
data.head()

,slice_file_name,fsID,start,end,salience,fold,classID,class
0,100032-3-0-0.wav,100032,0.0,0.317551,1,5,3,dog_bark
1,100263-2-0-117.wav,100263,58.5,62.500000,1,5,2,children_playing
2,100263-2-0-121.wav,100263,60.5,64.500000,1,5,2,children_playing
3,100263-2-0-126.wav,100263,63.0,67.000000,1,5,2,children_playing
4,100263-2-0-137.wav,100263,68.5,72.500000,1,5,2,children_playing

In [15]:
appended = []
for i in range(1,11):
    appended.append(data[data.fold == i]['class'].value_counts())
    
class_distribution = pd.DataFrame(appended)
class_distribution = class_distribution.reset_index()
class_distribution['index'] = ["fold"+str(x) for x in range(1,11)]
class_distribution

,index,jackhammer,dog_bark,children_playing,street_music,air_conditioner,drilling,engine_idling,siren,car_horn,gun_shot
0,fold1,120,100,100,100,100,100,96,86,36,35
1,fold2,120,100,100,100,100,100,100,91,42,35
2,fold3,120,100,100,100,100,100,107,119,43,36
3,fold4,120,100,100,100,100,100,107,166,59,38
4,fold5,120,100,100,100,100,100,107,71,98,40
5,fold6,68,100,100,100,100,100,107,74,28,46
6,fold7,76,100,100,100,100,100,106,77,28,51
7,fold8,78,100,100,100,100,100,88,80,30,30
8,fold9,82,100,100,100,100,100,89,82,32,31
9,fold10,96,100,100,100,100,100,93,83,33,32

Moving audio files to their respective class folders

In [46]:
file_class_dict = data.set_index('slice_file_name').to_dict()['class']

In [49]:
destination_path = r"C:\Users\Karan\Desktop\DSMT\Final-Project\class_audio"

In [62]:
path = r"C:\Users\Karan\Desktop\DSMT\Final-Project\UrbanSound8K\audio"
for i in os.listdir(path):
    internal_path = path + "\\" + i
    for j in os.listdir(internal_path):
        audio_path = internal_path + "\\" + j
        audio_class_path = destination_path + "\\" +file_class_dict.get(j)
        shutil.copy2(audio_path,audio_class_path)

References
- https://github.com/tthustla/urban_sound_classification/blob/master/urban_sound_classification_part1.ipynb